@import '../variables';


.character-card {
	.character-image {
		position: relative;
		padding-top: 100%;
		overflow: hidden;
		img {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: block;
			border: none;
			margin: auto;
			max-width: 100%;
			max-height: 100%;
			border-radius: $base-radius;
		}
	}
	h1 {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	> div {
		display: flex;
		align-items: center;
		&.alive {
			&:before {
				background: $success-color;
			}
		}
		&.dead {
			&:before {
				background: $danger-color;
			}
		}
		&.unknown {
			&:before {
				background: $passive-color;
			}
		}
		&:before {
			content: '';
			width: 16px;
			height: 16px;
			border-radius: 16px;
			margin-right: 6px;
		}
	}
}
