@import '../variables';

.character-detail {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 50px;
	img {
		width: 100%;
	}
	.character-info {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		> div {
			&:last-child {
				margin-top: 5px;
			}
		}
		.character-status {
			display: flex;
			&.alive {
				&:before {
					background: $success-color;
				}
			}
			&.dead {
				&:before {
					background: $danger-color;
				}
			}
			&.unknown {
				&:before {
					background: $passive-color;
				}
			}
			&:before {
				content: '';
				width: 16px;
				height: 16px;
				border-radius: 16px;
				margin-right: 6px;
				margin-top: 2px;
			}
		}
		.character-gender {
			font-style: italic;
			color: #818181;
			text-align: right;
			font-weight: 300;
		}
	}
	@media (max-width: 768px) {
		grid-template-columns: 1fr;
		grid-row-gap: 20px;
		.character-info {
			margin-bottom: 5px;
			> div {
				flex: 0 0 40%;
				&:first-child {
					flex: 0 0 100%;
					order: 1;
				}
				&:nth-child(2) {
					order: 3;
				}
				&:last-child {
					order: 2;
					margin-top: 5px;
				}
			}
		}
	}
}
