@import '../variables';

#header {
	padding: 30px 0;
	margin-bottom: 40px;
	border-bottom: 1px solid rgba(17, 176, 200, 0.11);
	.navigation {
		text-align: right;
		.active {
			color: $secondary-color;
		}
	}
}


.logo {
	height: 60px;
}