@import '../variables';

.other-character-list {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	> div {
		width: 50%;
		margin-bottom: 10px;
		a {
			display: inline-block;
		}
	}
	@media (max-width: 768px) {
		> div {
			width: 100%;
		}
	}
}
.other-character-card {
	display: grid;
	grid-template-columns: 1fr 3fr;
	cursor: pointer;
	img {
		border-radius: $base-radius;
		display: block;
	}
	h1 {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	> div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 14px;
		h2 {
			margin-bottom: 4px;
		}
		div {
			color: #000000;
			font-size: 16px;
		}
		i {
			color: #818181;
			font-size: 16px;
		}
	}
}
